attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.2
fastapi==0.119.1
filelock==3.20.0
folium==0.20.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keras==3.11.3
keyring==25.6.0
librosa==0.11.0
matplotlib==3.10.7
mne==1.10.2
numpy==2.3.4
protobuf==6.33.0
pydantic==2.12.3
pyOpenSSL==25.3.0
rasterio==1.4.3
redis==6.4.0
scikit_learn==1.7.2
scipy==1.16.2
sentinelsat==1.2.1
sounddevice==0.5.3
soundfile==0.13.1
speechbrain==1.0.3
Sphinx==8.2.3
thread==2.0.5
torch==2.9.0
torchaudio==2.9.0
transformers==4.57.1
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
